.contactbook-main-rs {
    display: none;
    width: 400px;
    background: white;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    height: calc(100vh - 145px);
    position: absolute;
    left: 230px;
    z-index: -1;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    overflow: auto;
}

.contactbook-main-rs::-webkit-scrollbar {
    display: none;
}

.alphabet-div-rs {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}

.floating-contact-box-rs {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 450px;
    position: absolute;
    top: 250px;
    left: 700px;
}

.contacts-headline-box-rs {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50px;
    top: 120px;
    gap: 10px;
}

.contacts-headline-rs {
    font-size: 40px;
    font-weight: 700;
}

.contacts-text-rs {
    font-size: 18px;
}

.contacts-vector-rs {
    border: 2px solid #29ABE2;
    width: 80px;
}

.contacts-arrow-rs {
    height: 20px;
    position: absolute;
    top: 15px;
    left: 400px;
    cursor: pointer;
}

.kanban-contacts {
    display: none
}

.contact-rs-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 30px;
}

.contact-delete-rs {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.contact-edit-rs {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

@media(max-width: 1200px) {
    .contactbook-main {
        width: 350px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contacts-headline-box {
        left: 600px;
        gap: 20px;
    }

    .contacts-headline {
        font-size: 40px;
    }

    .contacts-vector {
        height: 50px;
    }

    .contacts-text {
        font-size: 20px;
    }

    .floating-contact-box {
        left: 600px;
    }

    .floating-circle {
        width: 100px;
        height: 100px;
    }

    .floating-contact {
        gap: 35px;
    }

    .overlay-add-contact-box {
        width: 800px;
        height: 400px;
    }

    .overlay-add-left {
        padding: 20px 30px;
    }

    .overlay-add-headline {
        font-size: 36px;
    }

    .overlay-add-text {
        font-size: 18px;
    }

    .overlay-add-form {
        height: 360px;
        width: 300px;
    }

    .overlay-input-fields {
        margin-top: -10px;
    }

    .overlay-input-style {
        font-size: 18px;
    }

    .name-image {
        background-position-x: 265px;
    }

    .email-image {
        background-position-x: 265px;
    }

    .phone-image {
        background-position-x: 265px;
    }

    .overlay-add-circle {
        left: 4%;
        top: 33%;
    }

    .overlay-add-create-btn {
        font-size: 19px;
    }

    .overlay-add-cancel-btn {
        font-size: 19px;
    }

    .overlay-add-details-frame {
        height: 360px;
        width: 300px;
    }

    .overlay-edit-circle {
        left: 4%;
        top: 33%;
    }
}

@media(max-width: 1050px) {
    .contactbook-main {
        padding-left: 5px;
        padding-right: 5px;
        width: 295px;
    }

    .contactbook-frame {
        padding: 5px 10px;
    }

    .contacts-headline-box {
        left: 540px;
        gap: 10px;
    }

    .contacts-headline {
        font-size: 35px;
    }

    .contacts-text {
        font-size: 16px;
    }

    .contacts-vector {
        height: 40px;
    }

    .floating-contact-box {
        left: 540px;
        top: 200px;
    }

    .contact-information-frame {
        gap: 30px;
    }

    .floating-circle {
        width: 80px;
        height: 80px;
    }

    .floating-circle-initials {
        font-size: 30px;
    }

    .floating-contact {
        gap: 25px;
    }

    .floating-contact-name {
        font-size: 30px;
    }
}

@media(max-width: 950px) {
    .created-overlay {
        left: 28%;
        bottom: 20%;
    }

    .overlay-add-contact-box {
        width: 700px;
    }

    .overlay-add-circle {
        width: 90px;
        height: 90px;
    }

    .overlay-add-form {
        width: 270px;
    }

    .name-image {
        background-position-x: 240px;
    }

    .email-image {
        background-position-x: 240px;
    }

    .phone-image {
        background-position-x: 240px;
    }

    .overlay-add-cancel-btn {
        width: 100px;
    }

    .overlay-add-create-btn {
        width: 140px;
    }

    .overlay-add-details-frame {
        width: 270px;
    }

    .overlay-edit-circle {
        width: 90px;
        height: 90px;
    }
}

@media(max-width: 880px) {
    .contactbook-main {
        width: 250px;
    }

    .contactbook-name {
        font-size: 18px;
    }

    .contactbook-frame {
        gap: 5px;
    }

    .contactbook-email {
        font-size: 14px;
    }

    .contacts-headline-box {
        left: 500px;
    }

    .floating-contact-box {
        left: 500px;
        height: 360px;
    }

    .floating-circle {
        width: 65px;
        height: 65px;
    }

    .floating-contact {
        gap: 15px;
    }

    .floating-contact-name {
        font-size: 25px;
    }

    .floating-circle-initials {
        font-size: 25px;
    }

    .contact-information-text {
        font-size: 16px;
    }

    .contact-information-frame {
        gap: 20px;
    }
}