body {
    margin: 0;
    font-family: 'Inter';
}

.nav-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 100vh;
    background: #2A3647;
    padding: 65px 20px;
    gap: 100px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 1;
}

.nav-logo {
    width: 90px;
}

.nav-categories-mother {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-categories {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 230px;
    padding: 8px 50px;
}

.nav-categories:hover {
    background: #091931;
    cursor: pointer;
}

.nav-categories:hover .nav-image {
    opacity: 1;
}

.nav-categories:hover .nav-text {
    color: white;
}

.nav-image {
    width: 22px;
    height: 24px;
    opacity: 0.6;
}

.nav-text {
    color: #CDCDCD;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav-bottom-topics {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15px;
    height: 280px;
}

.nav-bottom-topics-child {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 230px;
    height: 45px;
    padding-left: 50px;
}

.nav-bottom-topics-child:hover {
    background: #091931;
    cursor: pointer;
}

.nav-bottom-topics-child:hover .nav-text {
    color: white;
}

.nav-bottom-topics-child:hover .nav-image {
    opacity: 1;
}

.links {
    text-decoration: none;
}

.active-categorie {
    background: #091931;
}