<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/header-responsive.css">


</head>

<body>

    <header>
        <p class="header-text">Kanban Project Management Tool</p>
        <div class="header-user-frame">
            <img class="header-logo-rs" src="assets/img/join-logo.svg"> <!--only for responsive view-->
            <a class="header-help" href="help.html">
                <img src="assets/img/help.svg"></a>
            <div class="colored-frame" onclick="showLogout()">
                <img class="user-image" src="assets/img/user.svg">
            </div>
        </div>
    </header>
    <div id="logout"></div>

</body>

</html>