<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation</title>

    <link rel="stylesheet" href="assets/css/navigation.css">
    <link rel="stylesheet" href="assets/css/navigation-responsive.css">

</head>

<body>
    <nav class="nav-main">
        <img class="nav-logo" src="assets/img/join-logo-light.svg">
        <div class="nav-categories-mother">
            <a class="links" href="summary.html">
                <div class="nav-categories" id="nav-categories-0">
                    <img class="nav-image" id="nav-image-0" src="assets/img/summary.svg">
                    <p class="nav-text" id="nav-text-0">Summary</p>
                </div>
            </a>
            <a class="links" href="board.html">
                <div class="nav-categories" id="nav-categories-1">
                    <img class="nav-image" id="nav-image-1" src="assets/img/board.svg">
                    <p class="nav-text" id="nav-text-1">Board</p>
                </div>
            </a>
            <a class="links" href="add-task.html">
                <div class="nav-categories" id="nav-categories-2">
                    <img class="nav-image" id="nav-image-2" src="assets/img/add-task.svg">
                    <p class="nav-text" id="nav-text-2">Add Task</p>
                </div>
            </a>
            <a class="links" href="contacts.html">
                <div class="nav-categories" id="nav-categories-3">
                    <img class="nav-image" id="nav-image-3" src="assets/img/contacts.svg">
                    <p class="nav-text" id="nav-text-3">Contacts</p>
                </div>
            </a>
        </div>

        <div class="nav-bottom-topics">
            <a class="links" href="legal-notice.html">
                <div class="nav-bottom-topics-child" id="nav-categories-4">
                    <img class="nav-image" id="nav-image-4" src="assets/img/legal-notice.svg">
                    <p class="nav-text" id="nav-text-4">Legal notice</p>
                </div>
            </a>
            <a class="links" href="privacy.html">
                <div class="nav-bottom-topics-child" id="nav-categories-5">
                    <img class="nav-image" id="nav-image-5" src="assets/img/legal-notice.svg">
                    <p class="nav-text" id="nav-text-5">Privacy</p>
                </div>
            </a>
        </div>
    </nav>

    <!----------------------------------------Responsive Navigation------------------------------------------------------------------>

    <div class="nav-main-rs">
        <a class="links-rs" href="summary.html">
            <div class="nav-categories-mother-rs" id="nav-categories-rs-0">
                <img class="nav-image-rs" id="nav-image-rs-0" src="assets/img/summary.svg">
                <span>Summary</span>
            </div>
        </a>
        <a class="links-rs" href="board.html">
            <div class="nav-categories-mother-rs" id="nav-categories-rs-1">
                <img class="nav-image-rs" id="nav-image-rs-1" src="assets/img/board.svg">
                <span>Board</span>
            </div>
        </a>
        <a class="links-rs" href="add-task.html">
            <div class="nav-categories-mother-rs" id="nav-categories-rs-2">
                <img class="nav-image-rs" id="nav-image-rs-2" src="assets/img/add-task.svg">
                <span>Add Task</span>
            </div>
        </a>
        <a class="links-rs" href="contacts.html">
            <div class="nav-categories-mother-rs" id="nav-categories-rs-3">
                <img class="nav-image-rs" id="nav-image-rs-3" src="assets/img/contacts.svg">
                <span>Contacts</span>
            </div>
        </a>
    </div>


</body>

</html>